<% provide(:title, '登録内容の編集') %>
<h1>登録内容の編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'holiday_info_input_form', { url: edit_holiday_path(@holiday), btn_comment: "保存" } %>
  </div>
</div>