<% provide(:title, '休日登録') %>
<h1>休日登録</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'holiday_info_input_form', { url: holidays_signup_path, btn_comment: "登録" } %>

    <%= render 'shared/load_csv', { url: import_holidays_path,
                                    example_image: "holidays_csv_example.PNG",
                                    size: "200x100" } %>

  </div>
</div>