<% provide(:title, '登録内容の編集') %>

<h2>登録内容の編集(<%= @date.strftime("%m月%d日") %>)</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'work_info_input_form', { url: "/works/#{@work.id}/edit", btn_comment: "編集内容の登録" } %>
  </div>
</div>

<% unless @works.empty? %>
  <%= render 'works_table' %>
<% end %>