<% provide(:title, '工数登録') %>

<h2>工数登録(<%= @date.strftime("%m月%d日") %>)</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'work_info_input_form', { url: "/works/#{@user.id}/#{@date}/new", btn_comment: "新規登録" } %>
  </div>
</div>

<% unless @works.empty? %>
  <%= render 'works_table' %>
<% end %>
