<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%= month_calendar events: @works do |date, works| %>
  <% if holiday_name = date_is_holiday?(date) %>
    <%= render 'holiday', {works: works, date: date, holiday_name: holiday_name} %>
  <% else %>
    <%= render 'weekday', {works: works, date: date} %>
  <% end %>
<% end %>