<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%= month_calendar events: @works do |date, works| %>
  <%= date.day %>
  <% works.each do |work| %>
    <div>
      <%= "工数登録" %>
    </div>
  <% end %>
<% end %>