<% if input.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力情報には<%= input.errors.count %>個のエラーがあります。
    </div>
    <ul>
    <% input.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>