<% provide(:title, 'プロジェクトコード編集') %>
<h1>プロジェクトコード編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'project_info_input_form', { url: edit_project_path(@project), btn_comment: "保存", project_name_is_read_only: true } %>
  </div>
</div>